

<div class="row">
    <div class="col-lg-5">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="m-t-none m-b">Gerar Lote</h2>
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">

                                <span class="float-right">
                                    <h2 class="no-margins"><strong>@Model?.prt_publicacao_qtd</strong></h2>
                                </span>

                                <h3> Processos aguardando para serem publicados:</h3>
                            </li>
                        </ul>
                        <br />
                        <br />
                        <div class="input-group">
                            <button type="button" class="btn btn-primary btn-block gerarlote"> Gerar lote para envio  </button>
                            <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-7">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="m-t-none m-b">Lotes Gerados</h2>
                        <div class="input-group">
                            <input placeholder="Buscar Lote" type="text" class="form-control form-control-sm"> <span class="input-group-append">
                                <button type="button" class="btn btn-sm btn-primary">
                                    Buscar
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                 <br />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Lote </th>
                                <th>Data da Geração </th>
                                <th>Quantidade</th>
                                <th>Visualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            if (ViewBag.LoteGerado == null)
                            {
                                <tr>
                                    <td colspan="5"> <i class="fa fa-twitch"></i> Realize sua busca.</td>
                                </tr>
                            }
                            else if (ViewBag.LoteGerado.Count != 0)
                            {
                                @foreach (var item in ViewBag.LoteGerado)
                                {
                                    <tr>

                                            <td>@item.prt_lote</td>
                                            <td>@item.prt_dt_lote</td>
                                            <td>@item.prt_publicacao_qtd</td>
                                        <td>
                                                <a href="#" class="btn btn-white btn-sm localizarlote" data-id="@item.prt_lote">
                                                <i class="fa fa-eye"></i> Visualizar
                                            </a>
                                        </td>                                          

                                    </tr>
                                }
                            }
                            else if (ViewBag.LoteGerado.Count == 0)
                            {
                                <tr>
                                    <td colspan="5"> <i class="fa fa-twitch"></i> Não foi localizado registro para essa pesquisa.</td>
                                </tr>
                            }
                        }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
