@model SIPROSHAREDPUBLICACAO.Model.PublicacaoModel

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="m-b-xxs">Publicação do processo.</h2>
        <small>Processos prontos para serem publicado em lotes.</small>       
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-5">

            <div id="Div_Publicar">
                    @await Html.PartialAsync("_Qtd_Publicar")
            </div>


        </div>
        <div class="col-lg-7">
            <div class="ibox ">                        
              
                <div class="ibox-content">
                    <div class="row">               
                        <div class="col-sm-12">
                                <h2 class="m-t-none m-b">Lotes Gerados</h2>
                            <div class="input-group">
                                <input placeholder="Buscar Lote" type="text" class="form-control form-control-sm"> <span class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        Buscar
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                
                                    <th>Lote </th>
                                    <th>Data da Geração </th>
                                    <th>Usuário Responsável </th>
                                    <th>Quantidade</th>
                                    <th>Visualizar</th>
                                    </tr>
                            </thead>
                            <tbody>
                                       
                                <tr>
                                            
                                    <td>LT1/2025</td>
                                    <td>26/06/2024 12:44</td>
                                    <td>ROSEICLEIDERF</td>
                                    <td>234</td>
                                    <td><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye"></i> Visualizar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                     
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <i class="fa fa-tags modal-icon"></i>
                <h2 class="modal-title">Lote Gerado: <strong>LT1/2025</strong>     </h2>
                <br />
                <button type="button" class="btn btn-primary btn-xs text-center"><i class="fa fa-print"></i> Imprimir DOM </button>
              
             
            </div>


            <div class="modal-body">


                <form id="form_distribuicao">
                    
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Lote:</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <input placeholder="" type="text" class="form-control form-control-sm" value="LT1/2025" readonly>
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash-o"></i> Excluir Lote
                                    </button>
                                </span>
                            </div>
                       
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Responsável:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_AIT" value="ROSEICLEIDERF" readonly></div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Date de Geração:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_DT_ABERTURA"  value="01/01/2025" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Quantidade:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_ASSUNTO" value="80"  readonly></div>
                    </div>   
              
                    <hr />

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Número DOM:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_DT_ABERTURA"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Data de Publicação:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_DT_ABERTURA" data-mask="99/99/9999"></div>
                    </div>
                                      
                </form>
        
                <div class="modal-footer">                    
                    <br />
                    <button type="button" class="btn btn-block btn-primary " data-dismiss="modal"><i class="fa fa-print"></i> Gravar Publicação do DOM </button>
                </div>

                
            </div>
        </div>
    </div>
</div>



<script>




                        
    async function gerarLote() {


        Notiflix.Confirm.Show(
            'Aviso!',
            'Tem certeza que deseja gera um lote?',
            'Sim',
            'Não',
            async function okCb() {
                Notiflix.Loading.Standard('Aguarde...');
                try {
                    const response = await fetch('@Url.Action("GerarLote", "publicacao")', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (!response.ok) {

                        Notiflix.Loading.Remove();
                        throw new Error(`Erro na requisição: ${response.statusText}`);                        
                    }

                    Notiflix.Loading.Remove();
                    const html = await response.text(); 
                    $('#Div_Publicar').html(html);

                } catch (error) {
                    console.error("Erro ao gerar lote:", error);
                }
            },
            function cancelCb() {
                Notiflix.Loading.Remove();
            },
            {
              
            }
        );




        
    }


</script>