@model SIPROSHARED.Models.ProtocoloModel

<ul class="list-group clear-list">
    <li class="list-group-item fist-item">
        <br />
        <p><small><strong>Dados doBancário:</strong></small></p>
        <span class="float-right"><strong> @Model?.PRT_RESS_TITULAR </strong></span>
        Titular da conta:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_RESS_CPF </strong></span>
        CPF/CNPJ:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_RESS_BANCO </strong> </span>
        Banco:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_RESS_AGENCIA </strong> </span>
        Agencia:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_RESS_CONTA </strong> </span>
        Conta:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_RESS_OPERACAO </strong> </span>
        Operação:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_RESS_TIPO </strong> </span>
        Tipo:
    </li>
</ul>