@model SIPROSHARED.Models.ProtocoloModel


<ul class="list-group clear-list">
    <li class="list-group-item fist-item">
        <span class="float-right label label-success"><strong class="h6">@Model?.PRT_NUMERO</strong></span>
        <input type="hidden" class="form-control" value="@Model?.PRT_NUMERO" id="PRT_NUMERO" name="PRT_NUMERO">
        Processo: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>@Model?.PRT_NOME_ASSUNTO </strong></span>
        Serviço: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong><span class="@(@Model?.PRT_RESTRICAO == 1 ? "text-black-50" : "text-danger")">@Model?.PRT_RESTRICAO_NOME</span> </strong></span>
        Restrição:
    </li>
    <li class="list-group-item">
         <span class="float-right "><strong>Atendente: @Model?.PRT_ATENDENTE  | Abertura:  @Model?.PRT_DT_ABERTURA </strong></span>

        Atendimento:
    </li>

    <li class="list-group-item">
        <span class="float-right">
            <strong>
                Origem: @Model?.PRT_NOME_ORIGEM |
                Postagem: @Model?.PRT_DT_POSTAGEM |
                Situação: <span class="@(Model?.PRT_ACAO == "ARQUIVADO!" ? "text-black-50" : "text-primary")">@Model?.PRT_ACAO</span>
            </strong>
        </span>

        Outros: 
    </li>
    <li class="list-group-item">
        <span class="float-right"> </span>
        Observação do SETAP: <small><strong>@Model?.PRT_OBSERVACAO</strong></small>
    </li>
    <li class="list-group-item">
        <span class="float-right label label-success"><strong class="h6">@Model?.PRT_AIT</strong></span>
        AIT:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> Placa: @Model?.PRT_PLACA | Cometimento: @Model?.PRT_DT_COMETIMENTO | Prazo: @Model?.PRT_DT_PRAZO </strong></span>
        Outros:
    </li>



    <li class="list-group-item">

        <h2>  Dados do julgamento </h2>
        <span class="float-right">
            <strong> @Model?.PRT_RESULTADO </strong></span>
        Resultado do julgamento: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>@Model?.PRT_DT_JULGAMENTO </strong></span>
        Data do resultado: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_LOTE </strong></span>
        Lote: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>   @Model?.PRT_DT_PUBLICACAO </strong></span>
        Dados da Publicação:
    </li>



</ul>


