@model SIPROSHARED.Models.ProtocoloModel

<ul class="list-group clear-list">
    <li class="list-group-item fist-item">
        <br />
        <p><small><strong>Dados do Proprietário:</strong></small></p>
        <span class="float-right"><strong> @Model?.PRT_NOMEPROPRIETARIO </strong></span>
        Nome do Proprietário:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_CPFCNJ_PROPRIETARIO </strong></span>
        CPF/CNPJ:
    </li>

    <li class="list-group-item">
        <br />
        <p><small><strong>Dados do Condutor Apresentado:</strong></small></p>
        <span class="float-right"><strong> @Model?.PRT_NOME_CONDUTOR </strong></span>
        Nome do Condutor:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_NUMREGISTRO_CNH  </strong></span>
        Registro CNH:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>  @Model?.PRT_UF_CNH </strong> </span>
        UF CNH:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_DT_VALIDADE </strong> </span>
        Validade da CNH:
    </li>
</ul>