
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="m-b-xxs">Publicação do processo.</h2>
        <small>Após a entrada do CPF, o sistema automaticamente verificará se há um agendamento existente para o solicitante.</small>

       
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
            <div class="col-lg-5">
                <div class="ibox ">                   
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="m-t-none m-b">Gerar Lote</h2>
                                <ul class="list-group clear-list m-t">
                                    <li class="list-group-item fist-item">
                                       
                                        <span class="float-right">
                                            <h2 class="no-margins"><strong>346</strong></h2>
                                        </span>
                         
                                        <h3> Processos aguardando para serem publicados:</h3>
                                    </li>                               
                                </ul>
                                <br />
                                <span class="m-l-xs">Digite a quantidade de processos que deseja envia para o lote.</span>
                                <div class="input-group">
                                    <input type="text" class="form-control"> <span class="input-group-append">
                                        <button type="button" class="btn btn-primary">
                                            Gerar lote para envio
                                        </button>
                                    </span>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-7">
                    <div class="ibox ">                        
              
                            <div class="ibox-content">
                                <div class="row">               
                                    <div class="col-sm-12">
                                         <h2 class="m-t-none m-b">Lotes Gerados</h2>
                                        <div class="input-group">
                                            <input placeholder="Buscar Lote" type="text" class="form-control form-control-sm"> <span class="input-group-append">
                                                <button type="button" class="btn btn-sm btn-primary">
                                                    Buscar
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Lote </th>
                                            <th>Data da Geração </th>
                                            <th>Usuário Responsável </th>
                                            <th>Quantidade</th>
                                            <th>Visualizar</th>
                                         </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                            <td>LT1/2025</td>
                                            <td>26/06/2024 12:44</td>
                                            <td>ROSEICLEIDERF</td>
                                            <td>89</td>
                                            <td><a href="#"><i class="fa fa-check text-navy"></i> Visualizar</a></td>
                                        </tr>
                                        <tr>
                                            <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                            <td>LT2/2025</td>
                                            <td>26/06/2024 12:44</td>
                                            <td>ROSEICLEIDERF</td>
                                            <td>200</td>
                                            <td><a href="#"><i class="fa fa-check text-navy"></i> Visualizar</a></td>
                                        </tr>
                                        <tr>
                                            <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" checked="" class="i-checks" name="input[]" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
                                            <td>LT3/2025</td>
                                            <td>26/06/2024 12:44</td>
                                            <td>ROSEICLEIDERF</td>
                                            <td>234</td>
                                    <td><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-check text-navy"></i> Visualizar</a></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            </div>
                     
                    </div>
                </div>
            </div>

        </div>


<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-share-square-o modal-icon"></i>
                <h4 class="modal-title">Lote Gerado</h4>
                <small class="">Dados do lote gerado  para envio do arquivo para o <strong>Encaminhar DOM</strong></small>
            </div>


            <div class="modal-body">


                <form id="form_distribuicao">
                    
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Lote:</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <input placeholder="" type="text" class="form-control form-control-sm" value="LT1/2025" readonly>
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-danger">
                                        Desfazer Lote
                                    </button>
                                </span>
                            </div>
                       
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Responsável:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_AIT" value="ROSEICLEIDERF" readonly></div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Date de Geração:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_DT_ABERTURA"  value="01/01/2025" readonly></div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Quantidade:</label>
                        <div class="col-lg-8"><input type="text" class="form-control" id="PRT_ASSUNTO" value="80"  readonly></div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label text-right">Data de Publicação :</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <input placeholder="" type="text" class="form-control form-control-sm">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        Gravar Publicação
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>


                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white me-3" data-dismiss="modal">Gerar arquivo DOM</button>
                @*     <button type="button" class="btn btn-danger" id="btnDistribuir">Desfazer Lote</button> *@
                </div>

                
            </div>
        </div>
    </div>
</div>



<script>
                        ]
    $(document).on('click', '#getRemoverBtn', async function () {
    
    }

</script>