
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Devolver Processo</h2>
        <small>Lista de processo com permissão para exclur voto.</small>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">

                <div class="ibox-content">
                    <h3><i class="fa fa-list-ul"></i>  Lista de processos aptos para serem excluido os votos  </h3>


                    <form id="form_buscar">
                        <div class="form-group row">
                            <div class="col-sm-10">
                
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <small>Selecione uma situação.</small>
                                        <select class="select2_demo_3 form-control" style="width:100%;" id="prt_situacao" name="prt_situacao" required>

                                            <option value="Todos">Todos</option>
                                            <option value="Em Julgamento">Em Julgamento</option>
                                            <option value="Homologar">Em Homologação</option>

                                        </select>

                                    </div>

                                    <div class="col-md-8">
                                        <small> Digite o número do processo. </small>
                                        <input type="text" class="form-control" id="vlobusca" >                                                                               
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-2 d-flex align-items-end">
                                <button type="button" class="btn btn-primary w-100" id="btmLocalizarProtocolo">
                                    <i class="fa fa-search"></i> Localizar
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="clients-list">
                        <div class="full-height-scroll">
                            <div id="div_listaExcluir">
                               @await Html.PartialAsync("_ListaProcesso") 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">

            <div class="tabs-container">

                <ul class="nav nav-tabs">
                    <li><a class="nav-link active show" data-toggle="tab" href="#tab-1">Dados do Julgamento </a></li>
                </ul>



                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active show">
                        <div class="panel-body">
                            <div class="client-detail">
                                <div class="full-height-scroll">
                                    <div id="div_ParecerRelator">
                                        @await Html.PartialAsync("_ParecerRelator")
                                    </div>
                                    <hr />

                                   
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

            </div>
        </div>
    </div>
</div>




@*Modal*@
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-share-square-o modal-icon"></i>
                <h4 class="modal-title">Excluir Voto</h4>
                <small class="font-bold">Encamimhar processo para sua origem.</small>
            </div>


            <div class="modal-body">

                <form id="form_excluir">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label text-right">Processo:</label>
                        <div class="col-lg-9"><input type="text" class="form-control" id="PRT_NUMERO_R" readonly></div>
                        <input type="hidden" class="form-control" id="MOVPRO_ID" />
                        <input type="hidden" class="form-control" id="_prt_situacao" name="_prt_situacao" />
                    </div>

                   @*  <div class="form-group row">
                        <label class="col-lg-3 col-form-label text-right">Motivo:</label>
                        <div class="col-lg-9"><textarea name="MOVPRO_PARECER_ORIGEM_R" id="MOVPRO_PARECER_ORIGEM_R" rows="5" cols="40" class="form-control" placeholder="Digite sua mensagem aqui..."></textarea></div>
                    </div> *@

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn_Confirmar">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>


<script>


    function LocalizarProtocolo(Situacao, Vlobusca) {
        $.ajax({
            url: '@Url.Action("BuscarProcessos", "ExcluirVoto")',
            datatype: 'html',
            contentType: "application/html; charset=utf-8",
            type: "GET",
            data: { situacao: Situacao, vlobusca: Vlobusca }, // Corrigido '=' para ':'
            success: function (result) {
                $('#div_listaExcluir').html(result);
                handleRowClick("0/0000");
                TabIndex();
            },
            error: function (xhr, status, error) {
                Notiflix.Notify.Failure("Erro na busca do protocolo");
            }
        });
    }


    $('#btmLocalizarProtocolo').click(function (event) {
        var Situacao = $('#prt_situacao').val();
        var Vlobusca = $('#vlobusca').val();

        event.preventDefault();
        LocalizarProtocolo(Situacao, Vlobusca);
    });

    $(document).ready(function () {
        $('#prt_situacao').on('change', function () {

            var Situacao = $(this).val();
            var Vlobusca = "Todos";
            $('#vlobusca').val("");

            event.preventDefault();
            LocalizarProtocolo(Situacao, Vlobusca);

            
        });
    });


    document.querySelectorAll(".table tr").forEach(td => {
        td.addEventListener("click", function () {
            // Remove borda dos outros <td>
            document.querySelectorAll(".table tr").forEach(el => el.style.border = "none");

            // Adiciona borda no <td> clicado
            this.style.border = "2px solid #dea32f";
        });
    });

    function TabIndex() {

        // Remove active class from all tabs
        document.querySelectorAll('.nav-link').forEach(function (tab) {
            tab.classList.remove('active', 'show');
        });
        document.querySelectorAll('.tab-pane').forEach(function (pane) {
            pane.classList.remove('active', 'show');
        });

        // Add active class to tab 1
        document.querySelector('.nav-link[href="#tab-1"]').classList.add('active', 'show');
        document.getElementById('tab-1').classList.add('active', 'show');
    }


    async function fetchAndUpdate(url, elementId) {
        try {
            console.log(`Fetching: ${url}`);
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'text/html; charset=utf-8'
                }
            });

            if (!response.ok) {
                throw new Error('Erro na requisição: ' + response.statusText);
            }

            const result = await response.text();
            const element = document.getElementById(elementId);
            if (element) {
                element.innerHTML = result;
            } else {
                Notiflix.Notify.Failure("Erro na busca do protocolo");
            }

        } catch (error) {
            Notiflix.Notify.Failure("Erro na busca do protocolo");
        }
    }


    function handleRowClick(_prt_numero) {
        
        const urls = [
            { url: '@Url.Action("BuscarParecer", "ExcluirVoto")' + '?prt_numero=' + encodeURIComponent(_prt_numero),
                elementId: 'div_ParecerRelator'
            },
        ];

        Promise.all(urls.map(({ url, elementId }) => fetchAndUpdate(url, elementId)));

        TabIndex();

    }


   let isProcessing = false;
    $(document).on('click', '.btn_excluirVoto', function () {

        $('#myModal').modal('hide');
        $('#MovPro_Parecer_Origem').val($('#MOVPRO_PARECER_ORIGEM_R').val());
        $('#MovPro_Situacao').val($('#prt_situacao').val());

        var form = document.getElementById("form_excluir");
        var formData = new FormData(form);


        Notiflix.Confirm.Show(
            'Aviso!',
            'Tem certeza que deseja excluir esse processo?',
            'Sim',
            'Não',
            async function okCb() {

                Notiflix.Loading.Standard('Aguarde...');

                try {
                    const response = await fetch('@Url.Action("ConfirmarExcluirVoto", "ExcluirVoto")', {
                        method: 'POST',
                        body: formData
                    });
                    //Tratamento de erro!
                    if (!response.ok) {

                        Notiflix.Loading.Remove();

                        const data = await response.json();

                        if (data.redirectTo) {
                            window.location.href = data.redirectTo; //Erros 500 e NotFoud
                        } else {
                            Notiflix.Notify.Failure(data.message); //Erros 400 outros
                        }
                        return false;
                    }

                    Notiflix.Loading.Remove();
                    Notiflix.Notify.Success("Operação realizada com sucesso.");
                    handleRowClick("0/0000")
                    const html = await response.text();
                    $('#div_listaExcluir').html(html);

                } catch (error) {
                    Notiflix.Notify.Failure(error);
                    Notiflix.Loading.Remove();
                }

            },
            function cancelCb() {
                Notiflix.Loading.Remove();
            },
            {
                // Configurações adicionais (opcional)
            }
        );


    });


</script>