@model List<SIPROSHARED.Models.ProtocoloModel>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Processos Para Julgar</h2>

    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
       

    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    @*    <span class="text-muted small float-right">Total de 2 registro</span> *@
                    <h3><i class="fa fa-list-ul"></i>  Lista de Processos para Julgar </h3>
                    <small>Buscar por: Processo e AIT</small>
                    <div class="input-group">
                        <input type="text" placeholder=" " class="input form-control" id="Vlo_Busca">
                        <span class="input-group-append">
                            <button type="button" class="btn btn btn-primary" id="btmLocalizarProtocolo"> <i class="fa fa-search"></i> Localizar</button>
                        </span>
                    </div>
                    <div class="clients-list">
                        <div class="full-height-scroll">
                            <div id="div_listaProtocolo">
                                 @await Html.PartialAsync("_ListaProtocolo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

<script>

    async function LocalizarProtocolo(vlobusca) {
        try {
            const response = await fetch('@Url.Action("BuscarProtocolo", "Julgamento")?vlobusca=' + vlobusca);


            /
            // ❌ ERRO
            if (!response.ok) {
                Notiflix.Loading.Remove();
                const data = await response.json(); // ok se o erro retorna JSON
                if (data.redirectTo) {
                    window.location.href = data.redirectTo;
                } else {
                    Notiflix.Notify.Failure(data.message);
                }
                return false;
            }
            // ✅ OK
            const html = await response.text();
            Notiflix.Loading.Remove();
            $('#div_listaProtocolo').html(html);

        } catch (error) {
            Notiflix.Loading.Remove();
            console.error("Erro ao enviar instrução:", error);
        }
    }



    $('#btmLocalizarProtocolo').click(function (event) {
        var vlobusca = $('#Vlo_Busca').val();
        event.preventDefault();
        LocalizarProtocolo(vlobusca);
    });


    $('#Vlo_Busca').on('input', function () {
        var searchTerm = $(this).val();
        if (searchTerm === '') {
            LocalizarProtocolo("Todos"); // Busca todos os resultados
        }
    });      



</script>
