@model List<SIPROSHARED.Models.ProtocoloModel>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Processos Para Julgar</h2>

    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
       

    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    @*    <span class="text-muted small float-right">Total de 2 registro</span> *@
                    <h3><i class="fa fa-list-ul"></i>  Lista de Processos para Julgar </h3>
                    <small>Buscar por: Processo e AIT</small>
                    <div class="input-group">
                        <input type="text" placeholder=" " class="input form-control" id="Vlo_Busca">
                        <span class="input-group-append">
                            <button type="button" class="btn btn btn-primary" id="btmLocalizarProtocolo"> <i class="fa fa-search"></i> Localizar</button>
                        </span>
                    </div>
                    <div class="clients-list">
                        <div class="full-height-scroll">
                            <div id="div_listaProtocolo">
                                 @await Html.PartialAsync("_ListaProtocolo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* <div class="col-sm-3">
            <div class="">
                <div>
                    <h4>Historico dos ultimos processos  <span class="badge badge-info float-right">5</span></h4>
                    <div class="feed-element">
                                      
                        <div class="media-body">
                            Processo Julgado e encaminhado para assinatura.
                            <br>
                            <small class="text-muted">PR1875/2025 | 18/03/2025 12:55</small>
                        </div>
                    </div>
                    
                    <div class="feed-element">

                        <div class="media-body">
                            Processo encaminhado para instrução.
                            <br>
                            <small class="text-muted">PR1888/2025 | 11/03/2025 12:44</small>
                        </div>
                    </div>

                    <div class="feed-element">

                        <div class="media-body">
                            Processo Julgado e encaminhado para homologação.
                            <br>
                            <small class="text-muted">PR1854/2025 | 14/03/2025 16:14</small>
                        </div>
                    </div>
                    <div class="feed-element">

                        <div class="media-body">
                            Processo Julgado e encaminhado para assinatura.
                            <br>
                            <small class="text-muted">PR1854/2025 | 14/03/2025 16:14</small>
                        </div>
                    </div>
                    <div class="feed-element">

                        <div class="media-body">
                            Processo Julgado e encaminhado para assinatura.
                            <br>
                            <small class="text-muted">PR1854/2025 | 14/03/2025 16:14</small>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="m-t-md">
                    <h4>Situação dos processos:</h4>
                     <small>Acompanhe abaixo total de processo vinculado ao seu usuário por situação.</small>
                    <br />
                    <br />
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-primary">16</span>
                                Aguardando Julgamento
                            </li>
                            <li class="list-group-item ">
                                <span class="badge badge-info">12</span>
                                Aguardando Assinatura
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning">07</span>
                                Encaminhado para Retifiação
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge">02</span>
                                Encaminhado para Instrução
                            </li>
                        </ul>
                    </div>
                </div>
            </div> *@
       @*  </div> *@
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

<script>
    function mostrarLoading() {
        Notiflix.Loading.Standard('Aguarde...');
    }
      
        function LocalizarProtocolo(vlobusca) {
      
            $.ajax({
            url: '@Url.Action("BuscarProtocolo", "Julgamento")',
                datatype: 'html',
                contentType: "application/html; charset=utf-8",
                type: "GET",
                data: { vlobusca: vlobusca },
                success: function (result) {

                $('#div_listaProtocolo').html(result);
                },
                error: function (xhr, status, error) {
                    // console.error("Erro na busca do protocolo:", error);
                }
            });
        }


        $('#btmLocalizarProtocolo').click(function (event) {
            var vlobusca = $('#Vlo_Busca').val();
            event.preventDefault();
            LocalizarProtocolo(vlobusca);
        });


        $('#Vlo_Busca').on('input', function () {
            var searchTerm = $(this).val();
            if (searchTerm === '') {
                LocalizarProtocolo("Todos"); // Busca todos os resultados
            }
        });      



</script>
