@{
    if (ViewBag.Anexos != null)
    {
        foreach (var imagemHtml in ViewBag.Anexos)
        {
            <div class="file-box">
                <div class="file">

                    <a href="@Html.Raw(imagemHtml.caminhohref)" title="Comprovante do Condutor" data-gallery="">
                        <span class="corner"></span>
                        <div class="icon">
                            @Html.Raw(imagemHtml.caminhosrc)
                        </div>
                        <div class="file-name">
                            <small>@imagemHtml.nome</small>
                            <br>

                        </div>
                    </a>

                </div>
            </div>

        }
    }
    else
    {

        <div class="col-sm-12 text-center">

            <p class="text-center">

                <a href=""><i class="fa fa-paperclip big-icon text-black-50"></i></a>
                <h5>Área de anexos do protocolo!</h5>
                <small>Todos os anexos serão armazenados nesta área. Para visualizá-los, basta clicar na imagem desejada.</small>
            </p>
        </div>
    }
}


<div class="lightBoxGallery">

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

</div>
