@model SIPROSHAREDHOMOLOGACAO.Models.HomologacaoModel


<ul class="list-group clear-list">
    <li class="list-group-item fist-item">
        <br />
        <p><small><strong>Dados do Processo:</strong></small></p>

        @*<span class="float-right"><strong class="h6">@Model?.PRT_NUMERO</strong></span>*@
        <span class="float-right label label-success"><strong class="h6">@Model?.PRT_NUMERO</strong></span>
        <input type="hidden" class="form-control" value="@Model?.PRT_NUMERO" id="PRT_NUMERO" name="PRT_NUMERO">
        Processo: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>@Model?.PRT_NOME_ASSUNTO </strong></span>
        Serviço: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>@Model?.PRT_DT_ABERTURA </strong></span>
        Abertura:
    </li>

    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_AIT </strong></span>
       AIT: 
    </li>
    <li class="list-group-item">
        <span class="float-right">   </span>
        Observação do SETAP: <small><strong>@Model?.PRT_OBSERVACAO</strong></small>
    </li>

    <hr />

    <div class="ibox ">
        <div class="ibox-title">
            <h5>Lista de relator</h5>
            <div class="ibox-tools">
                <span class="label label-warning-light float-right">3 resultados</span>
            </div>
        </div>
        <div class="ibox-content">

            <div>
                <div class="feed-activity-list">

                    <div class="feed-element">
                        <a class="float-left" href="profile.html">
                            <img alt="image" class="rounded-circle" src="~/img/user3.png">
                        </a>
                        <div class="media-body ">
                            <small class="float-right"></small>
                            <strong>Gracia Maria Correia da Silva</strong> <br>
                            <small class="text-muted">Julgado: 12/06/2014 15:11</small>
                        </div>
                    </div>

                    <div class="feed-element">
                        <a class="float-left" href="profile.html">
                            <img alt="image" class="rounded-circle" src="~/img/user3.png">
                        </a>
                        <div class="media-body ">
                            <small class="float-right"></small>
                            <strong>Adilson Prudêncio Dantas da Silva</strong> <br>
                            <small class="text-muted">Julgado: 13/06/2014 11:05</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a class="float-left" href="profile.html">
                            <img alt="image" class="rounded-circle" src="~/img/user3.png">
                        </a>
                        <div class="media-body ">
                            <small class="float-right"></small>
                            <strong>Adriana Silva Oliveira</strong> <br>
                            <small class="text-muted">Julgado: 14/06/2014 08:33</small>
                        </div>
                    </div>

                </div>

                <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Homologar </button>

            </div>

        </div>
    </div>
    
  @*   <li class="list-group-item">
        <br />
        <p><small><strong>Dados da Infração:</strong></small></p>
        <span class="float-right label label-success"><strong class="h6">@Model?.PRT_AIT</strong></span>
        
        AIT:
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> Placa: @Model?.PRT_PLACA | Cometimento: @Model?.PRT_DT_COMETIMENTO | Prazo: @Model?.PRT_DT_PRAZO </strong></span>
        Outros:
    </li>


    <li class="list-group-item">
        <br />
        <p><small><strong>Dados do julgamento</strong></small></p>
        <span class="float-right">
            <strong> @Model?.PRT_RESULTADO </strong></span>
        Resultado: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>@Model?.PRT_DT_JULGAMENTO </strong></span>
        Data do resultado: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong> @Model?.PRT_LOTE </strong></span>
        Lote: 
    </li>
    <li class="list-group-item">
        <span class="float-right"><strong>   @Model?.PRT_DT_PUBLICACAO </strong></span>
        Dados da Publicação:
    </li>
 *@


</ul>


