<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PROTOCOLO | SEM PREMISSAO</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <hr />
    <div class="middle-box text-center animated fadeInDown">
        <i class="fa fa-bug big-icon"></i>
        <h2 class="font-bold">Ocorreu um erro no sistema!</h2>

        <div class="error-desc">
            <i class="fa fa-twitch"></i>  Por favor, tente novamente mais tarde. <br />Se o problema persistir, entre em contato com o suporte técnico.<br />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
       
        @{
            if (TempData["ErroMessage"] != null)
            {
                <h4 class="font-bold">Motivo do erro:</h4>
                <i class="fa fa-twitch"></i> @TempData["ErroMessage"]            
            }
        }


    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

</body>

</html>
